* {
    box-sizing: border-box;
   

}
body {
    display: flex;
    justify-content: center;
    background-image: url(./BH0eo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(54, 54, 48);
    padding: 1px;
    border-radius: 4px;
}
.grid-cell {
    width: 195px;
    height: 195px;
    border: 1px solid rgb(210, 221, 113);
    margin: 1px;
    border-radius: 4px;
    background-color: rgb(170, 169, 169);
}
.grid-cell:hover {
    background:rgb(94, 94, 190);
}